<div class="row mx-5 d-flex">
  <div class="col-1 border border-right">1</div>
  <div class="col-1 border border-right">11</div>
  <div class="col-1 border border-right">111</div>
  <div class="col-1 border border-right">1111</div>
  <div class="col-1 border border-right">11111</div>
  <div class="col-1 border border-right">6</div>
  <div class="col-1 border border-right">7</div>
  <div class="col-1 border border-right">8</div>
  <div class="col-1 border border-right">9</div>
  <div class="col-1 border border-right">10</div>
  <div class="col-1 border border-right">11</div>
  <div class="col-1 border border-right">12</div>

</div>

<nav class="nav d-flex px-3 py-2">
  <div class="col-8">
    AGL
  </div>
  <div class="col-4">
    <ul class="d-flex justify-content-between" style="list-style: none">
      <li>About</li>
      <li>Portfolio</li>
      <li>Contact</li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-xl-6 col-md-12 p-5">
    <h3>Hi, I'm Angelica Garcia-Langfoss</h3>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et
      accusam et justo duo dolores et ea rebum. Stet clita
    </p>
  </div>
  <div class="col-xl-6 col-md-12 ">
    <div class="bg-dark h-100 w-75 text-right">
      <div><img src="assets/images/main-profile.jpg" alt="" style="width: 450px; margin-top: 20px"></div>
    </div>
  </div>

</div>

<footer>
  <div class="p-5 m-5"></div>
</footer>
