<div class="row mx-5">
  <div class="col-1 border border-right">1</div>
  <div class="col-1 border border-right">11</div>
  <div class="col-1 border border-right">111</div>
  <div class="col-1 border border-right">1111</div>
  <div class="col-1 border border-right">11111</div>
  <div class="col-1 border border-right">6</div>
  <div class="col-1 border border-right">7</div>
  <div class="col-1 border border-right">8</div>
  <div class="col-1 border border-right">9</div>
  <div class="col-1 border border-right">10</div>
  <div class="col-1 border border-right">11</div>
  <div class="col-1 border border-right">12</div>

</div>

<nav class="nav d-flex px-3 py-2">
  <div class="col-8">
    AGL
  </div>
  <div class="col-4">
    <ul class="d-flex justify-content-between" style="list-style: none">
      <li>About</li>
      <li>Portfolio</li>
      <li>Contact</li>
    </ul>
  </div>
</nav>
